:root {
    --black: #212529;
    --gray100: #F8F9FA;
    --gray300: #DEE2E6;
    --gray400: #C5CDD4;
    --gray500: #F4F4F5;
    --gray600: #6C757D;
    --gray700: #495057;
    --lightpurple: #A193CC;
    --purple: #5C0CB8;
    --darkpurple: #2E0C59;
  }